<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet.css">
  </head>
  <body>
   <div style="text-align:center"> <img src="../static/logo.png"> </div>
	<div class="lobby_div">	
	<form class="lobby_form">
	<br>
	<h3 style="text-align:center; margin-bottom: 3%;"> Welcome to DankTanks, {{USER}}! </h3>
	<div class="text-center">
	  <a href="/game/">
	    <button type="button" class="btn btn-primary btn-lg menu">Single Player</button>
	  </a>
	  <a href="/multi/">
	    <button type="button" class="btn btn-primary btn-lg menu">Local Co-op Multiplayer</button>
	    </a>
	<a href="/logout/"> <button type="button" class="btn btn-danger">Logout</button></a>
	</div>
	</form>
	</div>
  </body>
</html>
