<!DOCTYPE html>
<html>

  <style>
    #svg {
    position: fixed;
    overflow: hidden;
    display: block;
    margin: -9px;
    border: 1px solid black;
    }
  </style>
  
    <body>
      
    <svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" id="svg">
    </svg>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
    <script type="text/javascript" src="../static/js/game.js"></script>

    <script type="text/javascript" src="../static/js/tank.js"></script>

    <script language="javascript">
      makeRanLine();
    </script>
    
  </body>
</html>
